@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');
*{
    margin: 0px;
    padding:0px;
    font-family:'carter one', cursive;
    /* font-family: 'Loved by the King', cursive; */

    box-sizing: border-box;
    
}
.inputCaption{
    display: none;
}
html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite; 
}
body {
    margin:0;
    padding: 0;
    overflow: auto;
     width: 100%;
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: cover;
     background-repeat: no-repeat;
     animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    
    50% {
    background-position: 100% 50%;
    }
    
    100% {
    background-position: 0% 50%;
    }
    }
    
img:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    filter: grayscale(100%);
  }
h1{
text-align:center;
    color: blue;
    padding: 5px;
    font-size: 50px;
    font-family:'Finger Paint';
}
.container{
display: grid;
grid-template-columns:1fr ;
justify-content: space-evenly;
place-items: center;
}
img{
    width: 375px;
    height: 300px;
    border-radius: 10px;
}
@media only screen and (min-width:576px) {
    .container{
    grid-template-columns:1fr 1fr;
    place-items: center;
    gap:10px;
    }
}
@media only screen and (min-width:768px) {
    .container{
        grid-template-columns:1fr 1fr 1fr;
        place-items: center;
        gap:10px;
    }
}
@media only screen and (min-width:992px) {
    .container{
        grid-template-columns:1fr 1fr 1fr 1fr;
        place-items: center;
    }
}
#contextMenu{
    position: absolute;
    z-index: 100;
    width: 200px;
    background-color: #ECF2FF;
    border-radius: 9px;
    display: none;
    color: black;
    
    font-weight: lighter;
    font-family: 'Loved by the King', cursive;

}

#contextMenu .item{
    padding:8px 10px;
    cursor:pointer;
    font-family: 'Loved by the King', cursive;
    font-weight:bolder;
    font-size: 15px;
    border-radius: 5px;
}
#contextMenu:hover{
    background-color: #ECF2FF;
    color: black;
}
#contextMenu.visible{
    display: block;
}
#contextMenu .item:hover{
    background-color: white;
    color: black;
}

